[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

gunicorn = "*"
django-heroku = "*"
whitenoise = "*"
python-decouple = "*"
django-widget-tweaks = "*"


[dev-packages]

pylint = "*"
pylint-django = "*"


[requires]

python_version = "3.6"
