{% extends 'base.html' %}
{% block content %}
<div class='container mt-3'>
    <div class='row'>
        <div class='col'>
            <h1 class='display-4'>
                Helpful Resources and Links 
            </h1>
            <hr class='my-4'>
            <h4>Scholarship Links</h4>
            <ul>
                <li><a href='https://www.affordablecollegesonline.org/college-resource-center/financial-aid-for-stem/' target='_blank'>https://www.affordablecollegesonline.org/college-resource-center/financial-aid-for-stem/</a></li>
                <li><a href='https://www.nitrocollege.com/scholarships/stem' target='_blank'>https://www.nitrocollege.com/scholarships/stem</a></li>
                <li><a href='https://bigfuture.collegeboard.org/scholarship-search' target='_blank'>https://bigfuture.collegeboard.org/scholarship-search</a></li>
                <li><a href='https://www.scholarships.com/' target='_blank'>https://www.scholarships.com/</a></li>
                <li><a href='https://www.fastweb.com/' target='_blank'>https://www.fastweb.com/</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock content %}