div.jumbotron-home {
    background: url('../img/students-studying.jpg') no-repeat center center fixed;
}

div.jumbotron-program-finder {
    background: url('../img/receiving-scholarship.jpg') no-repeat center center fixed;
}

div.jumbotron-background-img {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}